#//////////////////////////
# 微信小程序
#//////////////////////////
miniprogram/node_modules/

#//////////////////////////
# 编辑器 / IDE
#//////////////////////////
.vscode/
.idea/

#//////////////////////////
# 系统
#//////////////////////////
.DS_Store
Thumbs.db

# 微信开发者工具本地私有配置（含个人偏好，一般不提交）
project.private.config.json
